---
import { Image } from "astro:assets";
import Card_2x1 from "./card_2x1.astro";
import Card_2x2 from "./card_2x2.astro";
import Card_2x3 from "./card_2x3.astro";
import Card_4x2 from "./card_4x2.astro";
import Card_8x1 from "./card_8x1.astro";
import Articles_List from "./articles_list.astro";
import info from "../data/info";
import StickyNav from "./sticky_nav.astro";
// const showCV = false;
---

<!-- 置顶固定导航组件（滚动至 100vh 后显示） -->
<StickyNav showAuth={false} />

<div class="container m-auto main">
  <div
    class="xl:flex xl:flex-row xl:justify-between max-w-screen-2xl px-2 xs:px-5 lg:px-10"
  >
    <aside
      class="min-w-full md:min-w-0 xl:basis-1/3 xl:h-screen xl:sticky xl:top-0"
    >
      <div class="pt-10 xl:pt-20"></div>
      <div class="w-64">
        <Image
          width={32}
          height={32}
          class="w-32 h-32 md:w-52 md:h-52 rounded-full"
          src={info.imgUrl}
          alt={info.title}
        />
        <div class="pt-10"></div>
        <h1 class="text-4xl font-bold pl-2">{info.title}</h1>
        <div class="pt-2"></div>
        <p class="text-lg pl-2">{info.desc}</p>
      </div>
    </aside>

    <main>
      <div class="pt-10 xl:pt-20"></div>
      <div class="grid grid-cols-4 gap-x-4 lg:gap-x-8 lg:w-[54rem]">
        <div class="col-span-4 md:col-span-2">
          <Card_4x2 info={info.titleCard} />
          <Card_4x2 info={info.blogCard} />
        </div>

        <div class="hidden md:block col-span-2">
          <Card_2x1 info={info.primaryCards[0]} />
          <Card_2x1 info={info.primaryCards[1]} />
          <Card_2x1 info={info.primaryCards[2]} />
          <Card_2x1 info={info.primaryCards[3]} />
        </div>

        <!-- 文章列表 -->
        <div class="mt-10 col-span-4">
          <Card_8x1 info={info.sectionTitles[0]} />
          <Articles_List />
        </div>

        <!-- 个人项目 -->
        <div class="col-span-4">
          <Card_8x1 info={info.sectionTitles[1]} />
        </div>
        <div class="col-span-4 md:col-span-2">
          <Card_4x2 info={info.projectCardStart} />
        </div>
        {
          info.projectCards.map((card) => (
            <div class="col-span-4 sm:col-span-2 md:col-span-1">
              <Card_2x2 info={card} />
            </div>
          ))
        }
        <div class="col-span-4 md:col-span-2">
          <Card_4x2 info={info.projectCardEnd} />
        </div>

        <!-- 日常碎片 -->
        <div class="col-span-4">
          <Card_8x1 info={info.sectionTitles[2]} />
        </div>
        <div class="col-span-4 overflow-x-auto scrollbar-hide">
          <div
            class="flex flex-nowrap gap-4 pb-4 md:hidden"
            style="scroll-snap-type: x mandatory; -webkit-overflow-scrolling: touch;"
          >
            {
              info.diaryCards.map((card) => (
                <div
                  class="flex-none w-[55%] scroll-snap-align-start"
                  style="scroll-snap-align: start;"
                >
                  <Card_2x3 info={card} />
                </div>
              ))
            }
          </div>
          <div class="hidden md:block">
            {
              info.diaryCards.length > 4 ? (
                <div id="scroll-container" class="flex flex-nowrap gap-4 lg:gap-8 pb-4 overflow-x-auto scrollbar-hide cursor-grab active:cursor-grabbing">
                  {info.diaryCards.map((card) => (
                    <div class="flex-none w-[calc((100%-3*1rem)/4)] lg:w-[calc((100%-3*2rem)/4)] select-none">
                      <Card_2x3 info={card} />
                    </div>
                  ))}
                </div>
              ) : (
                <div class="grid grid-cols-4 gap-x-4 lg:gap-x-8">
                  {info.diaryCards.map((card) => (
                    <div class="col-span-1">
                      <Card_2x3 info={card} />
                    </div>
                  ))}
                </div>
              )
            }
          </div>
        </div>

        <!-- 音乐创作 -->
        <!-- <div class="col-span-4">
          <Card_8x1 info={info.sectionTitles[3]} />
        </div>
        {
          info.musicCards.map((card) => (
            <div class="col-span-4 md:col-span-2">
              <Card_4x2 info={card} />
            </div>
          ))
        } -->

        <!-- 关注 -->
        <div class="md:hidden col-span-4">
          <Card_8x1 info={info.sectionTitles[4]} />
        </div>
        {
          info.primaryCards.map((card) => (
            <div class="md:hidden sm:col-span-2 col-span-4">
              <Card_2x1 info={card} />
            </div>
          ))
        }

        <!-- 联系方式 -->
        <div class="col-span-4">
          <Card_8x1 info={info.sectionTitles[5]} />
        </div>
        {
          info.teleCards.map((card) => (
            <div class="col-span-4 md:col-span-2">
              <Card_2x1 info={card} />
            </div>
          ))
        }
      </div>

      <footer class="text-center py-10">
        <div class="">
          ✒️ re-creation by <a
            href="https://xxxxx"
            target="_blank"
            class="text-gray-400">Devin</a
          >
        </div>
        <div class="">
          ❤️ thanks to <a
            href="https://idealclover.top"
            target="_blank"
            class="text-gray-400">idealclover</a
          >
        </div>
        <div>
          🚀 powered by <a
            href="https://tailwindcss.com/"
            target="_blank"
            class="text-gray-400">tailwindcss</a
          >
          <a href="https://astro.build/" target="_blank" class="text-gray-400"
            >astro</a
          >
        </div>
        <div>
          💡 inspired by <a
            href="https://bento.me"
            target="_blank"
            class="text-gray-400">bento.me</a
          >
        </div>
        <div class="beian">
          <a
            href="https://beian.miit.gov.cn"
            rel="noreferrer"
            target="_blank"
            class="text-gray-400">浙ICP备2026006016号-1</a
          >
        </div>
      </footer>
    </main>
  </div>
</div>

<style>
  .container {
    padding-top: 40px;
  }
  .mail {
    background: url("https://image.idealclover.cn/projects/Homepage/icons/icons.png") -0px -0px
      no-repeat;
    width: 64px;
    height: 64px;
  }
  .QQ {
    background: url("https://image.idealclover.cn/projects/Homepage/icons/icons.png") -64px -0px
      no-repeat;
    width: 64px;
    height: 64px;
  }
  .telegram {
    background: url("https://image.idealclover.cn/projects/Homepage/icons/icons.png") -128px -0px
      no-repeat;
    width: 64px;
    height: 64px;
  }
  .twitter {
    background: url("https://image.idealclover.cn/projects/Homepage/icons/icons.png") -192px -0px
      no-repeat;
    width: 64px;
    height: 64px;
  }

  /* 隐藏滚动条但保留滚动功能 */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
</style>

<script>
  import { initDragScroll, initFollowerUpdate } from "../scripts/home-interactions";

  document.addEventListener("DOMContentLoaded", () => {
    initDragScroll();
    initFollowerUpdate();
  });
</script>
